.loading {
    left: 0;
    position: fixed;
    top: 0;
    // z-index: 999;
    z-index: -1;

    &-text {
        left: 0;
        position: fixed;
        top: 0;
        // z-index: 1000;
        z-index: -1;
    }
}