.loading {
    left: 0;
    position: fixed;
    top: 0;
    // z-index: 999;
    z-index: -1;

    &-text {
        left: 0;
        position: fixed;
        top: 0;
        // z-index: 1000;
        z-index: -1;
    }
}

// element ui 样式重写
.el-select-dropdown {
    .el-select-dropdown__item,
    .el-select-dropdown__empty {
        font-size: 12px;
    }
}