.loading {
    border-radius: 3px;
    background: #61ECFA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    height: 3px;
    left: 0;
    position: fixed;
    top: 0;
    transition: all .2s linear;
    width: 1%;
    z-index: -1;

    &-text {
        color: #fff;
        height: 0;
        line-height: 67px;
        position: fixed;
        top: 0;
        text-align: center;
        width: 100%;
        z-index: -1;

        > div { height: 0; }

        &.on {
            z-index: 999;

            i {
                animation: turn 1s linear infinite;
            }
        }

        i {
            display: inline-block;
            font-size: 14px;
            margin-right: 5px;
        }
    }
}

// element ui 样式重写
$fontSize: 12px;

.el-select-dropdown {
    .el-select-dropdown__item,
    .el-select-dropdown__empty {
        font-size: $fontSize;
    }
}

.el-textarea {
    font-size: $fontSize;
    textarea {
        resize:none;
    }
}

.el-table {
    font-size: $fontSize;
    th {
        padding: 7px 0;
        &.is-leaf { border: none; }
    }

    .el-table__header-wrapper,
    .el-table__fixed-header-wrapper {
        border:1px solid rgba(229,229,229,1);

        th {
            background: rgba(248,249,251,1);
            color: #535965;
            font-size: $fontSize;
        }
    }

    .el-table__body-wrapper,
    .el-table__fixed-body-wrapper {
        tr:nth-child(1){
            td { border: none; }
        }
    }

    .el-table-column--selection .cell {
        padding: 0 10px;
    }

    .table-controls {
        .cell{
            display: flex;
            white-space: nowrap;

            *:last-child {
                margin-right: 0;
            }
        }
    }
}

.el-pagination {
    font-size: $fontSize;

    .el-pagination__jump, span { font-size: inherit !important; }
}

.dialog-ui, .el-message-box {
    border: none;
    border-radius: 10px;
    overflow: hidden;

    .el-dialog__header,
    .el-message-box__header
    {
        align-items: center;
        display: flex;
        height: 45px;
        padding: 0 20px;

        button {
            top: 12px;
        }

        span, i, button:hover i {
            font-size: $fontSize;
            font-weight: bold;

            opacity: 1;
            transition: transform .2s linear;
        }

        button:hover i {
            transform: rotate(90deg);
        }
    }

    .el-dialog__body {
        padding: 20px;
    }

    .el-dialog__footer,
    .el-message-box__btns {
        padding: 0 20px 20px 20px;
        text-align: center;
    }
}

.el-message-box {
    height: 180px;
    width: 350px;

    .el-message-box__content {
        padding: 30px 20px;
    }
}

.el-radio {
    font-weight: normal;
    .el-radio__label {
        font-size: 13px;
        padding-left: 5px;
    }
}

.el-input {
    font-size: $fontSize;
    input {
        height: 32px;
        line-height: 32px;
    }
}

.el-form {
    .el-form-item__label,
    .el-form-item__content {
        font-size: $fontSize;
        height: 32px;
        line-height: 32px;
    }
}