.views {
    display: flex;
    flex-wrap: wrap;

    .header {
        height: 49px;
        position: relative;
        width: 100%;
        z-index: 3;
    }

    .nav {
        height: calc(100% - 49px);
        position: relative;
        // transition: all .2s ease-out;
        width: 210px;
        z-index: 2;

        .user-head, .small-user-head {
            opacity: 1;
            // transition: all .2s ease-out;
        }

        &.hide {
            width: 64px;

            .user-head, .scroll-nav {
                opacity: 0;
                transform: translateX(-210px);
            }

            .small-user-head, .small-scroll-nav {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }

    .content {
        flex: 1;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: calc(100% - 210px);
        z-index: 1;
    }

    .main {
        height: calc(100% - 93px);
        // overflow: hidden;
        overflow-y: auto;
        padding: 0 10px;
        position: relative;

        > div:nth-child(1) {
            // padding: 10px 0 0 0;
        }

        .box {
            border-radius: 5px;
            margin-bottom: 10px;

            &.p {
                padding: 10px 0;
            }

            &.p2 {
                padding: 0 0 10px 0;
            }
        }
    }
}