// default-theme
$app-bg: #fff;
$colors: #94aad7, #103767, #7388c1;
$font-colors: #333, #fff, #333;


#app.theme {
    background: $app-bg;

    .header {
        background: nth($colors, 2);
        color: nth($font-colors, 2);
    }

    .nav {
        background: nth($colors, 1);
        color: nth($font-colors, 1);
    }

    // 组件样式 ==================================================
    .component-labels {
        background: nth($colors, 3);

        div {
            background: nth($colors, 1);
            transition:  all .2s linear;

            &.active {
                background: nth($colors, 2);
                color: nth($font-colors, 2);
            }

            i {
                background: nth($colors, 2);
                color: nth($font-colors, 2);
                opacity: .1;

                &:hover {
                    background: nth($colors, 3);
                    opacity: 1;
                }
            }
        }
    }
    // 组件样式 ==================================================
}