// default-theme
$app-bg: #fff;

// 顶部 ================================================
    $headerBackground: #4fa1e9;
    $headerFontColor: #fff;
    $headerShadow: 7px 0px 9px 1px rgba(223,223,223,0.94);
// end 顶部 ================================================

// 菜单 ================================================
    $navBackground: #fff;
    $navFontColor: #1a1d20;
    $navShadow: 2px 0px 7px 0px rgba(209,209,209,0.2);
// end 菜单 ================================================

$mainBackground: #EFF2F6; // 内容部分背景色

// 组件样式 ==================================================
    // component-labels ====
    @import 'components/default-theme/labels.component';
    @import 'components/default-theme/nav.component';
// end 组件样式 ==================================================


#app.default-theme {
    background: $app-bg;

    .header {
        box-shadow: $headerShadow;
        background: $headerBackground;
        color: $headerFontColor;
    }

    .nav {
        box-shadow: $navShadow;
        background: $navBackground;
        color: $navFontColor;
    }

    .main {
        background: $mainBackground;
    }

    // 组件样式 ==================================================
    .component-labels {

        background: $compLabelLayBackground;

        div {
            border: $compLabelBorderColor;
            background: $compLabelBackground;
            color: $compLabelFontColor;

            &.active {
                border-bottom-color: $compLabelActiveBackground;
                background: $compLabelActiveBackground;
                color: $compLabelActiveFontColor;
            }

            i {
                background: $compLabelCloseBackground;
                color: $compLabelCloseColor;

                &:hover {
                    background: $compLabelCloseHoverBackground;
                    color: $compLabelCloseHoverColor;
                }
            }
        }
        .more {
            ul {
                box-shadow: $compLabelSelectShadow;
                background: $compLabelSelectBackground;

                li {
                    &:hover {
                        background: $compLabelSelectHoverBackground;
                    }

                    &.active {
                        background: $compLabelSelectActiveBackground;
                    }

                    &:not(:last-child) {
                        border-bottom: $compLabelSelectBottomBorder;
                    }
                }
            }
        }
    }

    .component-nav {
        color: $compNavFontColor;

        ul[data-level="1"]{
            >li {
                &.active {
                    background: $compNaveActiveBackground;
                    >.title {
                        color: $compNaveActiveFontColor;
                        border-bottom-color:$compNaveActiveBackground;;
                    }
                }

                >.title {
                    border-bottom: $compNavBorderBottom;
                }

                ul {
                    .point {
                        border: $compNavSubPointBorder;
                    }

                    >li.active {
                        >.title {

                            background: $compNaveSubActiveBackground;

                            span {
                                color: $compNavSubActiveFontColor;
                            }
                            .point {
                                border-color: $compNavSubActivePointColor;
                                background: $compNavSubActivePointColor;
                            }
                        }
                    }
                }
            }
        }

        ul[data-level="2"]{
            background: $compNaveSubBackground;
        }

        .control {
            box-shadow: $compNavControlShadow;
            background: $compNavControlBackground;
        }
    }
    // 组件样式 ==================================================
}